body{
  font-family: 'IBM Plex Mono', monospace;
}
/* colors   E4FBFF  B8B5FF   7868E6   EDEEF7   36B5B0                     */
h1, h2{
  font-family: 'Inknut Antiqua', serif;
  font-weight: normal;
}

h1{
  font-size: 90px;
  line-height: 150%;
}

h2{
  font-size: 30px;
  line-height: 130%;
}

p{
  line-height: 150%;
}

ul li{
  list-style: none;
  margin: 10px 0;
}

img {
  /* it limits the image width with paraent element width */
  max-width: 100%;
}

nav {
  background-color: #DBEBF4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 10px 0px; /* Add some padding for better spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  display: flex;
  justify-content: space-between; /* Space out the items within the nav */
  align-items: center; /* Center items vertically */
}

nav a {
  text-transform: uppercase;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  nav ul {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      padding: 0px;
  }
}

nav ul li {
  text-align: center;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

nav li a:hover{
  text-decoration: underline;
}

header{
  top: 100px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 220px;
}

footer {
  margin: 100px;
  text-align: center;
}

footer h2 {
  font-size: 30px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  footer {
    margin: 20px;
  }
  
  footer h2 {
    font-size: 15px;
    margin-bottom: 50px;
  }
}

.mail {
  color: rgb(0, 2, 117);
}

/* intro section css */
.intro{
  background-color: #DBEBF4;
  margin: 20px 20px;
  border-radius: 20px;
  padding: 0;
}
.intro-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  border-radius: 50%;
  max-width: 400px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container on the page */
  padding: 10px;
}

.intro-figure {
  margin: 0; /* Remove default margin from the figure */
}

.intro-img {
  position: relative; /* Set the position to relative */
  margin: auto; /* Add some space around the image */
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain the aspect ratio */
}

.intro ul{
  padding: 0px 40px 0px 40px;
}

.intro-text{
  padding: 0px 40px 0px 40px;
  font-size: 2em; /* Adjust the font size */
  margin: 10px 0; /* Add some space around the text */
}

@media (min-width: 1000px) {
  .intro-text {
    margin: 40px 0; /* Add more space around the text */
  }
}

.intro-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .intro-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }
}


.project{
  margin: 70px 0;
  padding: 50px 0;
}

.project-text{
  padding: 0 50px;
}

.blue{
  background-color: #DBEBF4;
}

.project .button{
  margin-top: 10px;
}

.right-alignment{
  text-align: right;
}



@media (max-width: 768px) {
  .intro-text {
    font-size: 1.5em; /* Adjust the font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .intro-text {
    font-size: 1.2em; /* Adjust the font size for very small screens */
  }
}


/* skill section css */

.skills-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Create 6 equal columns */
  gap: 10px; /* Add some space between the items */
  padding: 0px 10px;
}

@media (max-width: 1000px) {
  .skills-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 800px) {
  .skills-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 650px) {
  .skills-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .skills-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skills-list li {
  margin: 10px;
  width: 120px; /* Set a fixed width for the list items */
  height: 120px; /* Set a fixed height for the list items */
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-list li:hover {
  transform: scale(1.1);
}

.skills-list li img {
  width: 100%; /* Adjust the width to fit the parent li */
  height: 100%; /* Adjust the height to fit the parent li */
  object-fit: contain;
}

.skills-list, .skill-text, .intro-text{
  font-family: 'Inknut Antiqua', serif;
}

.skill-text{
    padding: 0px 10px;
    font-size: 2em; /* Adjust the font size */
    margin: 0px 10px; /* Add some space around the text */
}

/* button css */
.button{
  font-size: 15px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
  border-radius: 20px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover{
  background: black;
  color: white;
}